@page
@model JSWebBasics.Pages.fetchbasicsModel
@{
}
<div class="row">
    <div class="col">
        <h2>TypeScript Fetch Objects</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <h3 id="msg"></h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <button id="btn" class="btn btn-primary">Click Me</button>
    </div>
</div>
<div id="dvcards" class="row">

</div>

<script src="/js/fetchbasics.js"></script>