@page
@model JSWebBasics.Pages.typescript_basicsModel
@{
}
<h2>TypeScript Basics</h2>
<div class="row">
    <div class="col-12">
        <hr />
        <h3 id="msg" class="text-primary"></h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-3">
        <button id="btn1" class="btn btn-primary">
            Show the current millisecond
        </button>
    </div>
    <div class="col-3">
        <input type="radio" id="optblue" name="color" value = "blue" /> 
        <label for="optblue">Blue</label>
    </div>
    <div class="col-3">
        <button id="btndivs" class="btn btn-danger">
            change divs
        </button>
    </div>
    <div class="col-3">
        <input type="radio" id="optred" name="color" value="red" />
        <label for="optred">Red</label>
    </div>
</div>

<script src="~/js/typescript-basics.js" asp-append-version="true"></script>